/*ich will hier versuchen die beiden div elemente nebeneinander anzuzeigen*/
body{
    background-color: blanchedalmond;
    border-radius: 75%;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: brown;
    -webkit-text-fill-color: chartreuse;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.Ware{
   
   
}
div.Preisliste{
   
    
}
footer{
   
}
