/*ich will hier versuchen die beiden div elemente nebeneinander anzuzeigen*/
body{
    background-color: blanchedalmond;
    border-radius: 75%;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.Ware{
    border: 2px solid red;
    width: 200px;
    padding: auto;
    text-align: left;
    box-sizing: border-box;
}
div.Preisliste{
    
    border: 2px, solid green;
    text-align: right;
    padding: auto;
    width: 300px;
    box-sizing: border-box;
}
