/*ich will hier versuchen die beiden div elemente nebeneinander anzuzeigen*/
body{
    background-color: blanchedalmond;
    border-radius: 75%;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.Ware{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    width: 200px;
    
}
div.Preisliste{
    display: flex;
    justify-content: flex-end;
    border: 2px, solid green;
   flex-direction: row;
    
}
